@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;

    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;

    list-style: none;
}

.header, .sect.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 0;
    
    background-color: #1F2937;
}

.header .right-links {
    display: flex;
    gap: 20px;
}

.left-links a {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.right-links a, .sect.hero .secondary, .footer {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: normal;
}

.content {
    display: flex;
    flex-direction: column;
}

.sect {
    display: flex;
}

.sect.hero {
    padding: 50px 0;
    justify-content: space-evenly;
}

.sect.hero .left-content {
    /* most possibly wrong, find a way to even out L/R paddings */
    max-width: 450px;   
}

.sect.hero .right-content img {
    max-width: 450px;
    height: auto;
}

.sect.hero .main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
}

.sect.info {
    flex-direction: column;
    align-items: center;
    
    color: #1F2937;
}

.sect.info .info-header {
    font-size: 36px;
    font-weight: bolder;
}

.sect.info .info-content {
    display: flex;
    gap: 50px;

    font-size: 18px;
}

.info-content .card {
    max-width: 170px;

    text-align: center;
}

.sect.quote {
    background-color: #E5E7EB;
}

.sect.signup-banner {
    background-color: #3882F6;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    background-color: #1F2937;
}